/* Container Styling */

.container_1,
.container_2,
.container_3,
.container_4,
.container_5,
.container_6 {
  margin: 0 auto;
  padding: 50px 0 100px 0;
}

.container_1 {
  max-width: 1597px;
}

.container_2 {
  max-width: 1450px;
}

.container_3 {
  max-width: 1232px;
}

.container_4 {
  max-width: 880px;
}

.container_5 {
  max-width: 595px;
}

.container_6 {
  max-width: 1400px;
  padding-bottom: 0;
}

@media screen and (max-width: 1440px) {
  .continer_1,
  .container_2,
  .container_6 {
    width: 1200px;
  }
  .container_3 {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1190px) {
  .continer_1,
  .container_2,
  .container_3 {
    max-width: 990px;
  }
}

/* Container Styling ends here */
