.loginPageLoading {
  display: flex;
  position: fixed;
  top: 0;
  height: -webkit-fill-available;
  width: 100%;
  background: rgb(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.loginPageLoader {
  width: 250px;
}
