.errorContainer {
  margin: 50px 0;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 50px rgb(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}

img.errorImg {
  width : 98px;
}

h1.mainHead {
  display: block;
  margin : 0;
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 149px;
  line-height: 198px;
  color: #ACADB2;
}

h2.secondaryHead {
  display: block;
  margin: 0;
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 27px;
  line-height: 43px;
  color: #ACADB2;
}